.adContainer{
  border:solid #B9D0BA;
  background-color: #B9D0BA;
 display: flex;
 padding:15px;
justify-content: space-evenly ;
}

.leftArrow{
    /* border:solid red; */
    height:20px;
}

.adText{
    /* border:solid blue; */
    height:30px;
}
.adLink{
    /* border:solid green; */
    height:30px;

}
.rightArrow{
    /* border:solid red; */
    height:20px;

}
.navBar{
    padding:10px;
    display: flex;
    justify-content: space-between;

}
.mainPic{
    width:100%;
}
.menuBar{
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
 

.subscriptions{
   width: 10%; float:left; margin: 5px;
  
}
.babyDiapers{
    width: 5%; float:left; margin: 5px;
}

.wipes{
    width: 5%; float:left; margin: 5px;
}
.bathBody{
    width: 5%; float:left; margin: 5px;
}
.skinCare{
    width: 5%; float:left; margin: 5px;
}
.makeup{
    width: 5%; float:left; margin: 5px;
}
.babyClothing{
    width: 5%; float:left; margin: 5px;
}
.cleaning{
    width: 5%; float:left; margin: 5px;
}
.giftsKits{
    width: 5%; float:left; margin: 5px;
}
}